*.class
*.DS_Store

/bin/*
/conf/*
/docs/*
/forge/*
/jars/*
/logs/*
/reobf/*
/runtime/*
/temp/*
/lib/*

/eclipse/.metadata/
/eclipse/Minecraft/bin/

/src/minecraft/

!/jars/coremods/

*.bat

*.db
CHANGELOG
modlist.txt